# Ignore GitHub configuration files
.github/

# Ignore all big files or databases 
*.csv
*.xls
*.xlsx
*.docx
*.db
*.sqlite
*.sqlite3
*.sql
*.mdb
*.accdb
*.dbf

# Ignore all mac Files
.DS_Store

#Ignore systemfiles
*.php
*.AppleDouble
*.LSOverride